<div class="container">
  <div class="row">
    <div class="body_size">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>Available Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do  %>
          <h4>  <%= cocktail.name  %>
            <% if cocktail.photos? %>
                 <%   cocktail.photos.each do |photo| %>
                    <%= cl_image_tag(photo.path, { size: '50x50', crop: :thumb, gravity: :face }) %>
                 <% end %>
            <% end %>
            </h4>
          <% end %>
<!--           <%= link_to("Update cocktail", edit_review_path(review)) %>
 -->




        <% end %>
        <%= link_to "Create a new cocktail", new_cocktail_path, {class: "btn btn-primary"} %>
      </div>
    </div>
  </div>
</div>
