<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2><%= @cocktail.name %></h2>
      <% @doses.each do |dose| %>
      <p><%= "#{dose.description} of #{dose.ingredient.name}" %></p>
      <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.path, width: 100, height: 150, crop: :fill %>
      <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <% @reviews.each do |review| %>
      <p><%= "|#{review.content}|" %>
      <% review.star.times do %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      <% end %>
      <%= "|" %>
        <%= link_to (edit_review_path(review)) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
        <%= link_to(destroy_review_path(review), method: 'delete') do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %> </p>
        <% end %>
    </div>
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to(new_cocktail_dose_path(@cocktail)) do %>
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          Add a dose
        <% end %>
          |
        <%= link_to(new_cocktail_review_path(@cocktail)) do %>
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            Add a review
          <% end %>
          <hr>
      <%= link_to "Back to list of cocktails", cocktails_path, {class: "btn btn-primary"} %>
    </div>
  </div>
</div>
